.project-header
  %div
    %i.fa.fa-calendar-check-o
    %span.project-title{"editable-text"=>"project.title","onaftersave"=>"save()"}=" {{ project.title }} "
    .project-buttons.pull-right
      %i.fa.fa-trash{"ng-click"=>"removeProject(project)"}
.new-task
  %form.form{"ng-submit"=>"addTask()", "ng-init"=>"newTask = {}"}
    .input-group
      %span.input-group-btn
        %button.btn.btn-sm.btn-success{:type=>"submit"}
          %i.fa.fa-plus
      %input.form-control.input-sm{:type=>"text", "ng-model"=>"newTask.title", :required=>""}
      %span.input-group-btn
        %button.btn.btn-sm.btn-success{:type=>"submit"} Add task

.project-body
  .tasks{"ng-model"=>"tasks", "ui-sortable"=>"sortableOptions"}
    %task.slide-top{"ng-repeat"=>"task in tasks", "ng-controller"=>"TaskController", "ng-class"=>"{'task-done': task.done, 'animation': true}"}