.row
  %input{:type=>"checkbox"}
  %span.task-title{"editable-text"=>"task.title", "onaftersave"=>"save()"}= "{{ task.title }}"
  .task-buttons.pull-right
    %i.fa.fa-comment{""=>""}
    %i.fa.fa-trash{"ng-click"=>"removeTask(task)"}

.comments
  %comment{"ng-repeat"=>"comment in comments"}

%form.form{"ng-init"=>"newComment = {}", "ng-submit"=>"create()", "ng-controller"=>"NewCommentController"}
  .form-group
    %label
      Comment text
      %input{"ng-model"=>"newComment.text", :required=>""}

  .form-group
    %input{:type=>"file", "nv-file-select"=>"", :multiple=>"", :uploader=>"uploader"}
    %br
    %ul
      %li{"ng-repeat"=>"item in uploader.queue"}
        Name:
        %span{"ng-bind"=>"item.file.name"}
        %br
        %button{"ng-click"=>"item.upload()"} Upload

  %button.btn.btn-xs.btn-default{:type=>"submit"} Add comment