.row
  %input{:type=>"checkbox", "ng-checked"=>"task.done", "ng-click"=>"toggleTaskStatus(task)", :style=>"border-right: 1px solid #000;"}
  %span.task-title{"editable-text"=>"task.title", "onaftersave"=>"save()"}= "{{ task.title }}"
  .task-buttons.pull-right
    %span.glyphicon.glyphicon-time
    %span{"editable-date"=>"task.deadline", "onaftersave"=>"save()"}= "{{ (task.deadline | date: 'dd/MM') || 'set'}}"
    %i.fa.fa-comments{"ng-click"=>"activateTask(task)"}
    %i.fa.fa-trash{"ng-click"=>"removeTask(task)"}

.comments{"ng-if"=>"task == activated_task"}
  %comment.toggle{"ng-repeat"=>"comment in comments", "ng-class"=>"animation"}

  %h4 New comment
  %form.form{"ng-init"=>"newComment = {}", "ng-submit"=>"create()", "ng-controller"=>"NewCommentController"}
    .form-group
      %input.form-control{"ng-model"=>"newComment.text", :required=>"", :placeholder=>"Type your comment here..."}

    .form-group
      %input{:type=>"file", "nv-file-select"=>"", :multiple=>"", :uploader=>"uploader"}
      %br
      %ul.attachments.list-inline
        %li.attached-file{"ng-repeat"=>"item in uploader.queue"}
          %span
            %i.fa.fa-file
            %span{"ng-bind"=>"item.file.name"}
            %i.fa.fa-trash{"ng-click"=>"uploader.removeFromQueue(item)"}

    %button.btn.btn-sm.btn-info{:type=>"submit"} Add comment