{{ task.title }}
%button.btn.btn-xs.btn-danger{"ng-click"=>"removeTask(task)"} Remove task

.comments
  %comment{"ng-repeat"=>"comment in comments"}

%form.form{"ng-init"=>"newComment = {}", "ng-submit"=>"addComment()"}
  .form-group
    %label
      Comment text
      %input{"ng-model"=>"newComment.text"}
  %button.btn.btn-xs.btn-default{:type=>"submit"} Add comment