.row
  %input{:type=>"checkbox", "ng-checked"=>"task.done", "ng-click"=>"toggleTaskStatus(task)"}
  %span.task-title{"editable-text"=>"task.title", "onaftersave"=>"save()"}= "{{ task.title }}"
  .task-buttons.pull-right
    %i.fa.fa-comment{""=>""}
    %i.fa.fa-trash{"ng-click"=>"removeTask(task)"}

.comments
  %comment.slide-top{"ng-repeat"=>"comment in comments", "ng-class"=>"animation"}

%form.form{"ng-init"=>"newComment = {}", "ng-submit"=>"create()", "ng-controller"=>"NewCommentController"}
  .form-group
    %label
      Comment text
      %input{"ng-model"=>"newComment.text", :required=>""}

  .form-group
    %input{:type=>"file", "nv-file-select"=>"", :multiple=>"", :uploader=>"uploader"}
    %br
    %ul.attachments.list-inline
      %li.attached-file{"ng-repeat"=>"item in uploader.queue"}
        %span
          %i.fa.fa-file
          %span{"ng-bind"=>"item.file.name"}
          %i.fa.fa-trash{"ng-click"=>"uploader.removeFromQueue(item)"}

  %button.btn.btn-xs.btn-default{:type=>"submit"} Add comment