#user.pull-right
  = image_tag "//placehold.it/128x128"
  %button.btn.btn-sm.btn-default{"ng-click"=>"signOut()"} Sign Out

%h2.text-center TODO List

.projects{"ng-model"=>"projects", "ui-sortable"=>"sortableOptions"}
  %project.center-block.slide-top{"ng-controller"=>"ProjectController", "ng-repeat"=>"project in projects", "ng-class"=>"animation"}

%button.btn.btn-lg.btn-add-project.center-block{"ng-click"=>"new_project()"}
  %i.fa.fa-plus
  Add Project