.projects{"ng-model"=>"projects", "ui-sortable"=>"sortableOptions"}
  %project.center-block{"ng-controller"=>"ProjectController", "ng-repeat"=>"project in projects"}

%button.btn.btn-success.center-block{"ng-click"=>"new_project()"} Add a new project