.view-container{"ng-controller"=>"projectsCtrl"}
  .projects
    .project{:id=>"project_{{project.id}}", "ng-repeat"=>"project in projects"}
      %h1 {{ project.title }}
      %ul.tasks
        %li.task{"ng-repeat"=>"task in project.tasks"} {{ task.title }}