.dialog-form.center-block.sign-up-form
  %h2 Sign Up
  %form#sign-in-form{"ng-submit"=>"signUp()", "ng-init"=>"signUpForm = {email: '', password: '', password_confirmation: ''}"}
    .form-group
      %label{:for => "id_email"} E-mail
      %input#id_email.form-control{:placeholder => "Email", :type => "email", "ng-model" => "signUpForm.email", :required=>""}/
    .form-group
      %label{:for => "id_password"} Password
      %input#id_password.form-control{:placeholder => "Password", :type => "password", "ng-model" => "signUpForm.password", :required=>""}/
    .form-group
      %label{:for => "id_confirmation"} Confirmation
      %input#id_confirmation.form-control{:placeholder => "Confirmation", :type => "password", "ng-model" => "signUpForm.password_confirmation", :required=>""}/
    %button.btn.btn-primary.btn-block{:type => "submit"} Sign Up
    %a.btn.btn-link.btn-block{:href=>"/#/sign-in"} Sign In
