.center-block.login-form
  %h2 Sign In
  %form#sign-in-form{"ng-submit"=>"login()", "ng-init"=>"loginForm = {email: '', password: ''}"}
    .form-group
      %label{:for => "id_email"} E-mail
      %input#id_email.form-control{:placeholder => "Email", :type => "email", "ng-model" => "loginForm.email", :required=>""}/
    .form-group
      %label{:for => "id_password"} Password
      %input#id_password.form-control{:placeholder => "Password", :type => "password", "ng-model" => "loginForm.password", :required=>""}/

    %button.btn.btn-default.btn-block{:type => "submit"} Sign In
    %button.btn.btn-social.btn-facebook.btn-block{:type=>"button", "ng-click"=>"authenticate('facebook')"}
      %i.fa.fa-facebook
      Sign In With Facebook

