.view-container{"ng-controller"=>"signInCtrl"}
  %form#sign-in-form{"ng-submit"=>"login()", "ng-init"=>"loginForm = {email: '', password: ''}"}
    .form-group
      %label{:for => "id_email"} E-mail
      %input#id_email.form-control{:placeholder => "Email", :type => "email", "ng-model" => "loginForm.email"}/
    .form-group
      %label{:for => "id_password"} Password
      %input#id_password.form-control{:placeholder => "Password", :type => "password", "ng-model" => "loginForm.password"}/
    %button.btn.btn-default{:type => "submit"} Sign In

  %button.btn.btn-warning{"ng-click"=>"logout()"} Sign Out