// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  //background: linear-gradient(to bottom, #e0e0e0 0%, #eaf2de 0%, #d6dbc9 38%, #ffa500 63%, #ffa830 100%);
  background-color: #ffffff !important;
}

.login-form {
  width: 300px;
  background-color: #00b3ee;
  padding: 20px;
  margin-top: 100px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

.sign-up-form {
  width: 300px;
  background-color: #00b3ee;
  padding: 20px;
  margin-top: 100px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

.new-project {
  background-color: #00b3ee;
  width: 300px;
  padding: 20px;
  margin-top: 80px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

project {
  width: 600px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  -webkit-box-shadow: 0 0 2px #242424;
  -moz-box-shadow:  0 0 2px #242424;
  box-shadow:  0 0 2px #242424;
  //-moz-box-shadow:  hoff voff blur color;
  //box-shadow:  hoff voff blur color;

  .project-header {
    background: linear-gradient(to bottom, #2aa3e0 0%, #1281bc 100%);
    padding: 10px 20px;

    .project-title {
      margin-left: 10px;
      color: #464646;
    }

    .project-buttons {
      i {
        cursor: pointer;
      }
    }
  }

  .new-task {
    background: linear-gradient(to bottom, #e0e0e0 0%, #a5a5a5 100%);
    padding: 10px;
  }

  .project-body {
    padding-bottom: 20px;
  }

  .tasks {
    min-height: 40px;
    background-color: #ffffff;
    display: block;

    a, .editable {
      color: #464646;
    }

    task.task-done {
      opacity: .7;

      .task-title {
        text-decoration: line-through;
      }

    }


    task {
      background-color: #ffffff;
      display: block;
      padding: 10px 30px;
      border-top: 2px solid #dddddd;

      .task-title {
        font-size: 14px;
        margin-left: 10px;
      }

      .task-buttons {
        padding: 0 10px;

        i {
          cursor: pointer;
          padding: 0 4px;
        }
      }

      .comments {
        margin-left: 40px;


        comment {
          display: block;
          background-color: #e1e1e1;
          margin: 10px 0;
          padding: 8px 30px;
          font-size: 12px;

          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;

          .comment-buttons {
            i {
              cursor: pointer;
            }
          }

          .attachments {
            display: block;
            font-size: 11px;
          }
        }
      }

    }



  }
}

